:root{

--bg:#0f172a;
--card:#1e293b;
--text:white;

}

.light{

--bg:#f1f5f9;
--card:white;
--text:black;

}

body{

margin:0;
font-family:system-ui;

background:var(--bg);
color:var(--text);

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.container{

width:360px;

}

.header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:15px;

}

.card{

background:var(--card);
padding:20px;
border-radius:16px;

backdrop-filter:blur(20px);

}

.inputBox{

display:flex;
align-items:center;

background:#334155;

padding:10px;

border-radius:10px;

}

input{

flex:1;
border:none;
background:transparent;
color:var(--text);

padding-left:8px;

}

#pasteBtn{

background:none;
border:none;
font-size:18px;
cursor:pointer;

}

button{

width:100%;
padding:12px;

margin-top:10px;

border:none;
border-radius:10px;

background:#22c55e;
color:white;

font-weight:600;
cursor:pointer;

}

#downloadSection{

display:none;

margin-top:15px;
text-align:center;

}

#thumb{

width:100%;
border-radius:12px;

margin-bottom:10px;

}
