body{

margin:0;
font-family:system-ui;
height:100vh;

display:flex;
align-items:center;
justify-content:center;

background:linear-gradient(135deg,#0f172a,#1e293b);

}

.app{

width:360px;
padding:30px;

background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);

border-radius:20px;
color:white;
text-align:center;

}

h1{

margin:0;
font-size:32px;

}

.author{

opacity:.7;
margin-bottom:15px;

}

.inputBox{

display:flex;
align-items:center;

background:#1e293b;

padding:10px;
border-radius:10px;

}

input{

border:none;
background:transparent;
color:white;

flex:1;
padding-left:8px;

}

#thumb{

width:100%;
margin-top:15px;
border-radius:10px;
display:none;

}

select{

width:100%;
padding:10px;
margin-top:10px;
border-radius:10px;
border:none;

}

button{

width:100%;
padding:12px;
margin-top:12px;

border:none;
border-radius:10px;

background:#22c55e;
color:white;
font-weight:600;

cursor:pointer;

}

.download{

background:#3b82f6;

}

video{

width:100%;
margin-top:15px;
border-radius:10px;

}

.progress{

width:100%;
height:6px;
background:#334155;

border-radius:10px;
margin-top:10px;

}

#bar{

height:100%;
width:0%;
background:#22c55e;

}
