body{

margin:0;
font-family:system-ui;
background:linear-gradient(135deg,#0f172a,#1e293b);
height:100vh;
display:flex;
align-items:center;
justify-content:center;

}

.card{

background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
padding:30px;
border-radius:20px;
width:90%;
max-width:400px;
text-align:center;
color:white;

}

input{

width:100%;
padding:12px;
border-radius:10px;
border:none;
margin-top:10px;

}

button{

margin-top:10px;
padding:12px;
width:100%;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-weight:bold;
cursor:pointer;

}

video{

margin-top:15px;
width:100%;
border-radius:10px;

}